node_modules/
ios/App/Pods/
ios/App/App/public/
ios/App/build/
ios/DerivedData/
*.xcuserdata/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/app/src/main/assets/public/
.capacitor/
